@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

$font-family: "Inter", sans-serif;
$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);
$font-size:32px;
$w-300:300;
$w-500:500;
$w-700:700;
